@media (max-width: 600px) {
  body {
    background-color: #3bbfce;
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 10px;
  }
  h1::before {
    content: "Hi there! Please note that this site has been designed for larger screens. Although small screen devices have access to all content, you'll have better experience with desktop or laptop computers.";
  }
}
@media (min-width: 601px) {
  body {
    background-color: #f7d9d7;
    margin-top: 60px;
    margin-right: 30px;
    margin-left: 30px;
  }
  h1::before {
    content: "Welcome!";
  }
}
.small {
  font-size: 10px;
}
#subtitle, footer {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  text-align: center;
}
body h2 {
  border-style: solid;
  border-width: 3px;
  padding: 5px;
  display: inline-block;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
